/*******General*******/

html, body{
    height:100%;
}

body{
    margin:0;
    padding:0;
    background-color: #333333;
    overflow:auto;
    min-width:980px;
    min-height:650px;
}

.clear{
    clear:both;
}

#siteWrapper{
    height: 100%;
    min-width:980px;
    min-height:650px;
    overflow:visible;
    display:table;
    position:absolute;
    width:100%;
}

    /*TEXT*/
    h1, h2, h3, h4, h5, h6, p, a, span, fieldset, label, td, th{
        color:#fff;
        font-family:'Open Sans', Arial, sans-serif;
        font-size:.9em;
    }

        /*HEADINGS*/
        h1, h2, h3{
            color:#42a247;
        }

        h4, h5, h6{
            color:#9e4699;
        }

    /*LINKS*/
    a:link, a:visited{
        color:#c78ec7;
        text-decoration:none;
    }

    a:hover, a:visited:hover{
        color:#a243a2;
    }

/*******MOBILE NAV*******/
#nav ul li.mobile, #navTopMenu ul li.mobile{
    display:none;
}