/*******General*******/

html, body{
    height:100%;
}

body{
    height:100%;
    min-width:980px;
    min-height:648px;
    margin:0;
    padding:0;
    background-color: #333333;
    background: url("../images/pinstripe.png") repeat, #333;
    background: url("../images/pinstripe.png") repeat, -moz-linear-gradient(150deg, rgba(51, 51, 51, 1) 0%, rgba(56, 56, 56,1) 50%, rgba(33,33,33,1) 100%);
    background: url("../images/pinstripe.png") repeat, -webkit-linear-gradient(150deg, rgba(51, 51, 51, 1) 0%, rgba(56, 56, 56,1) 50%, rgba(33,33,33,1) 100%);
    background url("../images/pinstripe.png") repeat,: -o-linear-gradient(150deg, rgba(51, 51, 51, 1) 0%, rgba(56, 56, 56,1) 50%, rgba(33,33,33,1) 100%);
    background: url("../images/pinstripe.png") repeat, -ms-linear-gradient(150deg, rgba(51, 51, 51, 1) 0%, rgba(56, 56, 56,1) 50%, rgba(33,33,33,1) 100%);
    background: url("../images/pinstripe.png") repeat, linear-gradient(150deg, rgba(51, 51, 51, 1) 0%, rgba(56, 56, 56,1) 50%, rgba(33,33,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#212121', GradientType=1 );
}

#siteWrapper{
    height: 100%;
    min-width:980px;
    min-height:648px;
    background-color: #542d54;
    background: url("../images/pinstripe.png") repeat, #542D54;
    background: url("../images/pinstripe.png") repeat, -moz-linear-gradient(150deg, rgba(50, 21, 50, 1) 0%, rgba(84, 45, 84,1) 50%, rgba(74,39,74,1) 61%, rgba(64,33,64,1) 75%, rgba(37,29,37,1) 100%);
    background: url("../images/pinstripe.png") repeat, -webkit-linear-gradient(150deg, rgba(50, 21, 50, 1) 0%, rgba(84, 45, 84,1) 50%, rgba(74,39,74,1) 61%, rgba(64,33,64,1) 75%, rgba(37,29,37,1) 100%);
    background: url("../images/pinstripe.png") repeat, -o-linear-gradient(150deg, rgba(50, 21, 50, 1) 0%, rgba(84, 45, 84,1) 50%, rgba(74,39,74,1) 61%, rgba(64,33,64,1) 75%, rgba(37,29,37,1) 100%);
    background: url("../images/pinstripe.png") repeat, -ms-linear-gradient(150deg, rgba(50, 21, 50, 1) 0%, rgba(84, 45, 84,1) 50%, rgba(74,39,74,1) 61%, rgba(64,33,64,1) 75%, rgba(37,29,37,1) 100%);
    background: url("../images/pinstripe.png") repeat, linear-gradient(150deg, rgba(50, 21, 50, 1) 0%, rgba(84, 45, 84,1) 50%, rgba(74,39,74,1) 61%, rgba(64,33,64,1) 75%, rgba(37,29,37,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331333', endColorstr='#261e26', GradientType=1 );
}

    /*TEXT*/
    h1, h2, h3, h4, h5, h6, p, a, span{
        color:#fff;
        font-family:'Open Sans', Arial, sans-serif;
    }

        /*HEADINGS*/
        h1, h2, h3{
            color:#42a247;
        }

        h4, h5, h6{
            color:#9e4699;
        }

    /*LINKS*/
    a:link, a:visited{
        color:#c78ec7;
        text-decoration:none;
    }

    a:hover, a:visited:hover{
        color:#a243a2;
    }

/*******HEADER*******/

header{
    width:100%;
    min-width:980px;
    min-height:550px;
    height:78%;
    top:22%;
    position:relative;

}

    /*LOGO*/
    #logo{
        width:12.9%;
        min-width: 198px;
        max-width:248px;
        margin:0 auto;
        display:block;
    }

    #logotext{
        text-indent:-999999px;
        width:16.1%;
        min-width:248px;
        max-width:310px;
        margin:0 auto;
        display:block;
    }

    #coName{
        text-indent:-999999px;
        height:0px;
        margin:0;
    }

    /*MISSION*/
    #greenLine{
        text-indent:-99999px;
        background:url('../images/green-line.png') no-repeat;
        width:317px;
        height:2px;
        margin:35px auto 0 auto;
    }

    #mission{
        font-size:1.1em;
        text-align:center;
        margin:25px auto 0 auto;
        width:44%;
        min-width:454px;
        max-width:520px;
    }

/********NAVIGATION*******/

#nav{
    width:100%;
    position:absolute;
    bottom:0;
}

#nav ul{
    list-style: none;
    margin:0;
    padding:0;
    background-color: #2f6230;
    background: -moz-linear-gradient(-45deg, rgba(26,128,27,1) 0%, rgba(47,98,48,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(26,128,27,1) 0%, rgba(47,98,48,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(26,128,27,1) 0%, rgba(47,98,48,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(26,128,27,1) 0%, rgba(47,98,48,1) 100%);
    background: linear-gradient(-100deg, #3a933e 0%, #1e4020 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a801b', endColorstr='#2f6230', GradientType=1 );
    box-shadow: 0 -3px 10px 0 rgba(0,0,0,0.3);
}

#nav ul li{
    display:inline-block;
    width:33.33333%;
}

#nav ul li a, #nav ul li a:hover{
    color:#fff;
    display:inline-block;
    width:100%;
    text-align:center;
    padding:12px 0;
    font-size:1.3em;
    font-weight:500;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
    cursor:pointer;
}

#nav ul li a:hover, #nav ul li a.active:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

#nav ul li a.active{
    background-color: rgba(0, 0, 0, 0.4);
}

    /*MOBILE*/
    #nav ul li.mobile{
        display:none;
    }

/********MAIN*******/

#header.topMenu{
    position:static;
    min-height:123px;
    height:auto;
    top:auto;
    padding-top:2.7%;
    vertical-align:middle;
    overflow:auto;
    display:table;
}

#logo.topMenu{
    width:7.9%;
    min-width:92px;
    max-width:152px;
    padding-left:2.7%;
    margin:0;;
    vertical-align:middle;
    display:inline-block!important;
}

#logotext.topMenu{
    width:15.9%;
    min-width:185px;
    max-width:306px;
    margin:0;
    vertical-align:middle;
    display:inline-block!important;
}

#nav.topMenu{
    width:66%;
    min-width:650px;
    position:static;
    bottom:auto;
    vertical-align:middle;
    display:inline-block!important;
}
#nav.topMenu ul{

}

#nav.topMenu ul li a{
    padding:10px 0;
}

#siteWrapper.content{
    background-color: #333333;
    background: url("../images/pinstripe.png") repeat, #333;
    background: url("../images/pinstripe.png") repeat, -moz-linear-gradient(150deg, rgba(51, 51, 51, 1) 0%, rgba(56, 56, 56,1) 50%, rgba(33,33,33,1) 100%);
    background: url("../images/pinstripe.png") repeat, -webkit-linear-gradient(150deg, rgba(51, 51, 51, 1) 0%, rgba(56, 56, 56,1) 50%, rgba(33,33,33,1) 100%);
    background url("../images/pinstripe.png") repeat,: -o-linear-gradient(150deg, rgba(51, 51, 51, 1) 0%, rgba(56, 56, 56,1) 50%, rgba(33,33,33,1) 100%);
    background: url("../images/pinstripe.png") repeat, -ms-linear-gradient(150deg, rgba(51, 51, 51, 1) 0%, rgba(56, 56, 56,1) 50%, rgba(33,33,33,1) 100%);
    background: url("../images/pinstripe.png") repeat, linear-gradient(150deg, rgba(51, 51, 51, 1) 0%, rgba(56, 56, 56,1) 50%, rgba(33,33,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#212121', GradientType=1 );
}

/*******FOOTER*******/