/*******General*******/

html, body{
    height:100%;
}

body{
    margin:0;
    padding:0;
    background-color: #333333;
    overflow:auto;
    min-width:980px;
    min-height:700px;
}

.clear{
    clear:both;
}

#siteWrapper{
    height: 100%;
    min-width:980px;
<<<<<<< HEAD
<<<<<<< HEAD
    min-height:650px;
=======
=======
>>>>>>> parent of 814b3be... Sub Menu Work
    min-height:700px;
    background-color: #542d54;
    background: url("../images/pinstripe.png") repeat, #542D54;
    background: url("../images/pinstripe.png") repeat, -moz-linear-gradient(150deg, rgba(50, 21, 50, 1) 0%, rgba(84, 45, 84,1) 50%, rgba(74,39,74,1) 61%, rgba(64,33,64,1) 75%, rgba(37,29,37,1) 100%);
    background: url("../images/pinstripe.png") repeat, -webkit-linear-gradient(150deg, rgba(50, 21, 50, 1) 0%, rgba(84, 45, 84,1) 50%, rgba(74,39,74,1) 61%, rgba(64,33,64,1) 75%, rgba(37,29,37,1) 100%);
    background: url("../images/pinstripe.png") repeat, -o-linear-gradient(150deg, rgba(50, 21, 50, 1) 0%, rgba(84, 45, 84,1) 50%, rgba(74,39,74,1) 61%, rgba(64,33,64,1) 75%, rgba(37,29,37,1) 100%);
    background: url("../images/pinstripe.png") repeat, -ms-linear-gradient(150deg, rgba(50, 21, 50, 1) 0%, rgba(84, 45, 84,1) 50%, rgba(74,39,74,1) 61%, rgba(64,33,64,1) 75%, rgba(37,29,37,1) 100%);
    background: url("../images/pinstripe.png") repeat, linear-gradient(150deg, rgba(50, 21, 50, 1) 0%, rgba(84, 45, 84,1) 50%, rgba(74,39,74,1) 61%, rgba(64,33,64,1) 75%, rgba(37,29,37,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331333', endColorstr='#261e26', GradientType=1 );
>>>>>>> parent of 814b3be... Sub Menu Work
    overflow:visible;
    display:table;
    position:absolute;
    width:100%;
}

    /*TEXT*/
    h1, h2, h3, h4, h5, h6, p, a, span, fieldset, label, td, th{
        color:#fff;
        font-family:'Open Sans', Arial, sans-serif;
        font-size:.9em;
    }

        /*HEADINGS*/
        h1, h2, h3{
            color:#42a247;
        }

        h4, h5, h6{
            color:#9e4699;
        }

    /*LINKS*/
    a:link, a:visited{
        color:#c78ec7;
        text-decoration:none;
    }

    a:hover, a:visited:hover{
        color:#a243a2;
    }

<<<<<<< HEAD
/*******MOBILE NAV*******/
#nav ul li.mobile, #navTopMenu ul li.mobile{
    display:none;
=======
/*******Header*******/

#header{
    width:100%;
    min-width:980px;
    min-height:574px;
    position:relative;
    display:table-cell;
    vertical-align: middle;
    padding-bottom:64px;
}

    /*LOGO*/

    #logo{
        width:12.9%;
        min-width: 198px;
        max-width:248px;
        margin:0 auto;
        display:block;
    }

    #logotext{
        text-indent:-999999px;
        width:16.1%;
        min-width:248px;
        max-width:310px;
        margin:0 auto;
        display:block;
    }

    #coName{
        text-indent:-999999px;
        height:0px;
        margin:0;
        float:left;
    }

    /*MISSION*/
    #greenLine{
        text-indent:-99999px;
        background:url('../images/green-line.png') no-repeat;
        width:317px;
        height:2px;
        margin:35px auto 0 auto;
    }

    #mission{
        font-size:1.1em;
        text-align:center;
        margin:25px auto 0 auto;
        width:44%;
        min-width:454px;
        max-width:520px;
    }

/********NAVIGATION*******/

#nav, #navTopMenu{
    width:100%;
    position:absolute;
    bottom:0;
}

#nav ul, #navTopMenu ul{
    list-style: none;
    margin:0;
    padding:0;
    background-color: #2f6230;
    background: -moz-linear-gradient(-45deg, rgba(26,128,27,1) 0%, rgba(47,98,48,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(26,128,27,1) 0%, rgba(47,98,48,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(26,128,27,1) 0%, rgba(47,98,48,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(26,128,27,1) 0%, rgba(47,98,48,1) 100%);
    background: linear-gradient(-100deg, #3a933e 0%, #1e4020 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a801b', endColorstr='#2f6230', GradientType=1 );
    box-shadow: 0 -3px 10px 0 rgba(0,0,0,0.3);
}

#nav ul li, #navTopMenu ul li{
    display:inline-block;
    width:33.33333%;
}

#nav ul li a, #nav ul li a:hover, #navTopMenu ul li a, #navTopMenu ul li a:hover{
    color:#fff;
    display:inline-block;
    width:100%;
    text-align:center;
    padding:18px 0;
    font-size:1.3em;
    font-weight:500;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
    cursor:pointer;
}

#nav ul li a:hover, #nav ul li a.active:hover, #navTopMenu ul li a:hover, #navTopMenu ul li a.active:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

#nav ul li a.active, #navTopMenu ul li a.active{
    background-color: rgba(0, 0, 0, 0.4);
}

    /*MOBILE*/
    #nav ul li.mobile, #navTopMenu ul li.mobile{
        display:none;
    }

/********MAIN*******/

#headerTopMenuWrapper{
    display:table;
    width:97.5%;
    padding-left:2.5%;
}

#headerTopMenu{
    min-height:123px;
    display:table-row;
    width:100%;
}

#logoTopMenuWrapper{
    display:table-cell;
    vertical-align: middle;
    width:9.39%;
    min-width:112px;
    max-width:152px;
}

#logoTopMenu{
    width:82%;
    margin:0;
    cursor: pointer;
    float:right;
    min-width:92px;
    max-width:152px;
}

#logotextTopMenuWrapper{
    display:table-cell;
    vertical-align: middle;
    width:18.87%;
    min-width:205px;
    max-width:306px;
}

#logotextTopMenu{
    width:90%;
    margin:0;
    cursor: pointer;
    min-width:185px;
    max-width:306px;
}

#navTopMenuWrapper{
    display:table-cell;
    vertical-align: middle;
    width:67.04%;
    min-width:638px;
}

#navTopMenu{
    width:100%;
    position:static;
    bottom:auto;
    vertical-align:middle;
    display:inline-block;
    float:right;
    min-width:638px;

}
#navTopMenu ul{
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.3);
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
}

#navTopMenu ul li.home a, #navTopMenu ul li.home a:focus{
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
}

#navTopMenu ul li a, #navTopMenu ul li a:hover{
    padding:4% 0;
}

#siteWrapper.content{
    height:initial;
    background-color: #333333;
    background: url("../images/pinstripe.png") repeat, #333;
    background: url("../images/pinstripe.png") repeat, -moz-linear-gradient(150deg, rgba(51, 51, 51, 1) 0%, rgba(56, 56, 56,1) 50%, rgba(33,33,33,1) 100%);
    background: url("../images/pinstripe.png") repeat, -webkit-linear-gradient(150deg, rgba(51, 51, 51, 1) 0%, rgba(56, 56, 56,1) 50%, rgba(33,33,33,1) 100%);
    background: url("../images/pinstripe.png") repeat, -o-linear-gradient(150deg, rgba(51, 51, 51, 1) 0%, rgba(56, 56, 56,1) 50%, rgba(33,33,33,1) 100%);
    background: url("../images/pinstripe.png") repeat, -ms-linear-gradient(150deg, rgba(51, 51, 51, 1) 0%, rgba(56, 56, 56,1) 50%, rgba(33,33,33,1) 100%);
    background-image: url("../images/pinstripe.png") repeat, linear-gradient(150deg, rgba(51, 51, 51, 1) 0%, rgba(56, 56, 56,1) 50%, rgba(33,33,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#212121', GradientType=1 );
}

#main{
    width:100%;
    min-width:868px;
    overflow:auto;
    min-height:550px;
    padding:2.5% 0;
}

.column{
    width:29%;
    float:left;
    margin:0 2%;
}
.columnHeading{
    font-weight: 700;
    font-size:1.3em;
    margin:35px 0 15px 0;
}

h3.heading{
    font-weight:normal;
    font-size:1em;
    margin:14px 0 4px 0;
}

/*******ABOUT*******/

#about{
    clear:both;
    padding:0 2.5%;
}

#staff h4, #staff p{
    float:left;
    width:69%;
    padding-left:6%
}

#staff h4{
    margin:0 0 5px 0;
}

#staff p{
    margin:5px 0 30px 0;
}

#staff img{
    float:left;
    width:25%;
    max-width:105px;
    margin-bottom:30px;
    border-radius:6px;
}

/*******CONTACT*******/

#contact{
    clear:both;
    padding:0 2.5%;
}

p.contactText{
    margin:4px 0 14px 0;
}

    /*Contact Form*/
    #contactUs fieldset{
        border:none;
        padding:0;
        margin:0;
    }

    #contactUs label{
        width:25%;
        max-width:80px;
        display:inline-block;
        text-align:left;
        padding:3% 3% 3% 0;
        font-size:1.2em;

    }

    #contactUs input{
        width:75%;
        display:inline-block;
        height:1.2em;
        padding:1%;
        margin:2% 0;
    }

    #category{
        width:78%;
        padding:1%;
        cursor:pointer;
    }

    #contactUs textarea{
        width:92%;
        height:125px;
        padding:2%;
    }

    #name, #email, #message{
        background: #fff url("../images/form_required.png") no-repeat top right;
    }

    #name:focus, #email:focus, #message:focus{
        background: #fff;
    }

    #contactUs div.submit p{
        margin:8px 0;
        width:92%;
    }

    #reqDis{
        background: url("../images/form_required.png") no-repeat top right;
        padding-right:15px;
        text-align:right;
    }

    #contactUs div.submit input#emailCopy{
        width:5%;
        margin:4% 0 4% 1%;
        cursor:pointer;
    }

    #contactUs div.submit label.emailCopy{
        width:89%;
        max-width:1000px;
        padding:0;
        font-size:.85em;
        text-align:right;
        line-height:.85em;
    }

    #contactUs div.submit input#submit{
        float:right;
        width:40%;
        min-width:150px;
        margin:15px 4% 0 0;
        height:3em;
        background-color: #42a247;
        border:none;
        font-size:1em;
        color:#fff;
        font-weight: 500;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
        cursor: pointer;
        border-top:1px solid #57d45d;
        border-left:1px solid #57d45d;
        border-bottom:2px solid #183818;
        border-right:2px solid #183818;
    }

    #contactUs div.submit input#submit:hover{
        background-color:#2d6e30;
        border-top:1px solid #37873b;
        border-left:1px solid #37873b;
    }

    #contactUs div.submit input#submit:active{
        background-color:#2d6e30;
        border-top:2px solid #183818;
        border-left:2px solid #183818;
        border-bottom:1px solid #37873b;
        border-right:1px solid #37873b;
        outline-width:0;
    }

    /*HOURS*/

    .contactHours{
        width:100%;
        max-width:400px;
    }

    .contactHours td{
        width:50%;
        padding:4px;
    }


/*******FOOTER*******/

#footer{
    width:95%;
    min-width:868px;
    padding:1.5% 2.5% 1% 2.5%;
    margin-top:2.5%;
    overflow:auto;
    background-color:#542D54;
    background : -moz-linear-gradient(51.22% 122.07% -80deg,rgba(50, 21, 50, 1) 0%,rgba(84, 45, 84, 1) 50%,rgba(74, 39, 74, 1) 61%,rgba(64, 33, 64, 1) 75%,rgba(37, 29, 37, 1) 100%);
    background : -webkit-linear-gradient(-80deg, rgba(50, 21, 50, 1) 0%, rgba(84, 45, 84, 1) 50%, rgba(74, 39, 74, 1) 61%, rgba(64, 33, 64, 1) 75%, rgba(37, 29, 37, 1) 100%);
    background : -o-linear-gradient(-80deg, rgba(50, 21, 50, 1) 0%, rgba(84, 45, 84, 1) 50%, rgba(74, 39, 74, 1) 61%, rgba(64, 33, 64, 1) 75%, rgba(37, 29, 37, 1) 100%);
    background : -ms-linear-gradient(-80deg, rgba(50, 21, 50, 1) 0%, rgba(84, 45, 84, 1) 50%, rgba(74, 39, 74, 1) 61%, rgba(64, 33, 64, 1) 75%, rgba(37, 29, 37, 1) 100%);
    background : linear-gradient(170deg, rgba(50, 21, 50, 1) 0%, rgba(84, 45, 84, 1) 50%, rgba(74, 39, 74, 1) 61%, rgba(64, 33, 64, 1) 75%, rgba(37, 29, 37, 1) 100%);
}

#footer h3.footerHeader{
    font-size:1em;
    color:#a08ca0;
}

#footer h4{
    font-weight: normal;
    font-size: 1em;
    margin: 14px 0 4px 0;
    color: #42a247;
}

#footer p{
    font-size:.9em;
    margin: 4px 0 14px 0;
}

#footer .businessInfo h3.footerHeader{
    margin-bottom:0;
}

#footer .BIcolumn{
    float:left;
    width:50%;
}

#footer .businessInfo{
    width:40%;
}

#footer .sitemap{
    width:18%;
}

#footer .sitemapLinks a{
    font-size:1em;
    font-weight:600;
    color:#c78ec7;
    line-height:1.5em;
    cursor:pointer;
}

#footer .sitemapLinks a:hover{
    color:#a243a2;
}

#footer .copyright{
    clear:both;
    padding-top:28px;
    margin:0;
    text-align:right;
    font-size:.8em;
}

@media screen and (min-width: 1921px) {
    #logo{
        max-width:310px;
    }

    #logotext{
        max-width:388px;
    }

    #greenLine{
        width:325px;
    }

    #mission{
        font-size:1.4em;
    }
>>>>>>> parent of 814b3be... Sub Menu Work
}